body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

#appBody {
    margin: 8px auto auto auto;
    background: lightgrey;
    width: 98vw;
    height: 98vh;
    /*height: 70vh;*/
    display: flex;
    flex-direction: row;
}

#projectList {
    width: 15%;
    background: #f3f3f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: lightslategray 1px solid;
}

#taskList {
    width: 85%;
    background: #f3f3f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.individualTask {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    height: 40px;
    border-bottom: solid 1px #cecece;
    border-top: solid 1px #cecece;
    border-collapse: collapse;
    margin: -1px 0 0 -1px;
}

.taskNameClass {
    margin-left: 10px;
    width: 320px;
    display: flex;
    align-items: center;
}

.taskDateClass {
    width: 125px;
    display: flex;
    align-items: center;
}

.taskStatusClass {
    width: 120px;
    display: flex;
    align-items: center;
}

.taskCompleteButtonClass, .taskDeleteButtonClass {
    width: 30px;
    height: 30px;
    border: none;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
}

.taskDeleteButtonClass {
    background: orange;
}

.taskCompleteButtonClass {
    background: #04AA6D;
}

.taskButtons {
    width: 100px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    /*bottom: 23px;*/
    bottom: 17px;
    right: 28px;
    width: 184px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: orange;
}

.form-container .btn:hover, .open-button:hover, .taskCompleteButtonClass:hover, .taskDeleteButtonClass:hover {
    opacity: 1;
}

.taskDeleteButtonClass:hover {
    background: red;
}

#formInputFields {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;

}

#formInputFields {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

#projectStatus, #projectDate {
    height: 30px;
    margin-bottom: 5px;
    width: 184px;
}

#projectName {
    margin-bottom: 5px;
    width: 184px;
}

#taskName, #taskDate, #taskStatus {
    height: 30px;
    width: 120px;
    line-height: 30px;
    background: white;
    border: none;
}

#taskDate {
    width: 125px;
}

#taskName {
    width: 320px;
    margin-left: 5px;
    padding-left: 5px;
}

#addTask {
    width: 100px;
    height: 30px;
    margin-left: 5px;
}

#taskStatus {
    border: none;
}

#taskEntry {
    margin-top: 10px;
    margin-bottom: 10px;
}

#selectedProjectName {
    margin-left: 10px;
    font-size: large;
}

#allProjectsSelect, #archivedProjectsSelect {
    font-size: large;
    padding-left: 10px;
}

.projectListSelect {
    font-size: medium;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projectListSelectInArchiveAll {
    font-size: medium;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#activeProjects > h4:hover/*, h5:hover*/ {
    background-color: #d6e9ff;
}

.projectListSelect:hover {
    background-color: #d6e9ff;
}

#allProjectsSelect:hover, #archivedProjectsSelect:hover {
    background-color: #d6e9ff;
}

div > #activeProjects {
    /*height: 470px;*/
    height: 80vh;
    overflow: scroll;
}

div > #tasksDOMContainer {
    /*height: 470px;*/
    height: 80vh;
    overflow: scroll;
}

#projectHeaderSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

#archiveButton, #amendProjectButton {
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 80px;
    height: 40px;
    margin-right: 15px;
}

#archiveButton:hover {
    opacity: 1;
    background: #04AA6D;
}

#amendProjectButton:hover {
    opacity: 1;
    background: orange;
}

#projectInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#projectStatusDisplayID {
    border-right: 1px solid black;
    padding-right: 5px;
}

.archivedAllProjectHeader {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-right: 5px;
}

.inAllArchive {
    border-right: 1px solid black;
    padding-right: 5px;
}

